<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>BankJobs</title>

    <style>
      .box{
        box-shadow:0px 2px 11px 0px #000000;
        width: 100%;
        background-color: #ffffff;
     

      }
    </style>
  </head>
  <body>

    <div style="background-color:#f0f6ff">
    <div class="container-fluid d-flex justify-content-center shadow p-2 mb-5  " style="background-color: lightcoral;">
    	<h2 style="color:white;">BANK EXAM PREPARATION</h2>
    </div>

    <div class="d-flex justify-content-center">
      <h3>SBI PO EXAM</h3>
    </div>

    <div class="container-fluid m-0 p-0">
      <img style="pointer-events: none;" src="static/images/shutterstock_1664708983.jpg" class="img-fluid" width="100%" height="100%">
    </div>




    <div class="container mt-5">
    	<h4>There are total three rounds in it-</h4>

    	<ol>
    		<li>Preliminary Exam</li>
    		<li>Mains Exam</li>
    		<li>Interview / Group Discussion</li>
    	</ol>
    </div>

    <div class="container d-flex justify-content-center mt-4">

    	<div style="background-color:seagreen;">
    		<h3 style="color: white;">
    		Preliminary Exam Details
    		</h3>
    	</div>
    </div>

    
    <div class="d-flex justify-content-center mt-3 container">
    	<img style="pointer-events: none;" class="img-fluid" src="static/images/Screenshot (1024).png" height="200px" width="800px" >
    </div>


    <div class="container mt-5">
    	<h4>Various Links for study material</h4>

    	<h3 class="d-flex justify-content-center" style="background-color:#4b1aff;color: white;">English Language</h3>
    	<h5>Links (Verbal Ability)-</h5>

    	<div class="box" style="text-align: center;">
        <a href="https://www.indiabix.com/verbal-ability/questions-and-answers/" target="_blank">Indiabix</a>
      

    	<br>
    	<a href="https://www.javatpoint.com/verbal-ability" target="_blank">Javatpoint</a>


    	<br>
    	<a href="https://www.fresherslive.com/online-test/verbal-ability-test/questions-and-answers" target="_blank">Fresherlive</a>

    	<br>
    	<a href="https://www.freshersnow.com/english-verbal-ability-questions/" target="_blank">Freshernow</a>
    </div>



    	<h3 class="d-flex justify-content-center mt-5" style="background-color:#4b1aff; color: white;">Quantative Aptitude</h3>
    	<h5>Links (Quantative Aptitude)-</h5>

      <div class="box" style="text-align: center;">
    	<a href="https://www.indiabix.com/aptitude/questions-and-answers/" target="_blank">Indiabix</a>

    	<br>
    	<a href="https://www.javatpoint.com/aptitude/quantitative" target="_blank">Javatpoint</a>

    	
    	<br>
    	<a href="https://www.fresherslive.com/online-test/aptitude-test/questions-and-answers" target="_blank">Fresherlive</a>

    	<br>
    	<a href="https://www.freshersnow.com/aptitude-questions-answers-solutions/" target="_blank">Freshernow</a>
    </div>


    	<h3 class="d-flex justify-content-center mt-5" style="background-color:#4b1aff; color:white;">Reasoning Ability</h3>
    	<h5>Links (Reasoning Ability)-</h5>


      <div class="box" style="text-align: center;">
    	<a href="https://www.indiabix.com/logical-reasoning/questions-and-answers/" target="_blank">Indiabix</a>
    	<br>

    	<a href="https://www.indiabix.com/verbal-reasoning/questions-and-answers/" target="_blank">Indiabix 1</a>
    	<br>

    	<a href="https://www.indiabix.com/non-verbal-reasoning/questions-and-answers/" target="_blank">Indiabix 2</a>

    	<br>
    	<a href="https://www.javatpoint.com/reasoning" target="_blank">Javatpoint</a>

    	
    	<br>
    	<a href="https://www.fresherslive.com/online-test/logical-reasoning-test/questions-and-answers" target="_blank">Fresherlive</a>

    	<br>
    	<a href="https://www.freshersnow.com/reasoning-questions-answers/" target="_blank">Freshernow</a>
    </div>

    	<h3 class="d-flex justify-content-center mt-5" style="background-color:#4b1aff;color: white;">Online Test</h3>
    	<h5>Links- </h5>


      <div class="box" style="text-align: center;">
    	<h5>(Verbal Test)-</h5>
    	<a href="https://www.indiabix.com/online-test/verbal-ability-test/" target="_blank">Indiabix</a>
    	<br>

    	<h5 class="mt-3">(Quantative Aptitude/ Aptitude Test)-</h5>
    	<a href="https://www.indiabix.com/online-test/aptitude-test/" target="_blank">Indiabix</a>
    	<br>

    	<h5 class="mt-3">(Logical Reasoning Test)-</h5>
    	<a href="https://www.indiabix.com/online-test/logical-reasoning-test/" target="_blank">Indiabix</a>
    	<br>

    	<h5 class="mt-3">(Verbal Reasoning Test)-</h5>
    	<a href="https://www.indiabix.com/online-test/verbal-reasoning-test/" target="_blank">Indiabix</a>
    	<br>

    	<h5 class="mt-3">(Non-Verbal Reasoning Test)-</h5>
    	<a href="https://www.indiabix.com/online-test/non-verbal-reasoning-test/" target="_blank">Indiabix</a>
    	<br>
    </div>


    	<h3 class="d-flex justify-content-center mt-5" style="background-color:#4b1aff; color:white">Previous Year Question Papers</h3>
    	<h5>Links- </h5>


      <div class="box" style="text-align: center;">
    	<a href="https://www.bankersadda.com/wp-content/uploads/multisite/2021/01/06083405/SBI-PO-Prelims-2020-2021-Questions-Memory-Based-Paper-05-Jan-2021.pdf" target="_blank">Paper 1 Questions</a>
    	<br>
    	<a href="https://www.bankersadda.com/wp-content/uploads/multisite/2021/01/06083411/SBI-PO-Prelims-2020-2021-Memory-Based-Paper-05-Jan-2021-Solutions.pdf" target="_blank">Paper 1 Answer</a>
    	<br>

    	<a href="https://www.careerpower.in/2020/SBI_PO_Prelims_2019_Memory_Based_Paper_Questions.pdf" target="_blank">Paper 2 Questions</a>
    	<br>

    	<a href="https://www.careerpower.in/2020/SBI_PO_Prelims_2019_Memory_Based_Paper_Solutions.pdf" target="_blank">Paper 2 Answer</a>
    	<br>

    	<a href="https://wpassets.adda247.com/wp-content/uploads/multisite/2021/10/05172615/SBI-PO-Prelims-2017.pdf" target="_blank">Paper 3 Questions & Answer</a>

    	<br>
    	<a href="file:///C:/Users/Rinku/Downloads/SBI%20PO%20Prelims%202016%20Memory%20Based%20Question%20Paper%20(English).pdf" target="_blank">Paper 4 Questions</a>
    	<br>

    	<a href="file:///C:/Users/Rinku/Downloads/Solution%20of%20SBI%20PO%20Prelims%202016%20Memory%20Based%20Question%20Paper.pdf" target="_blank">Paper 4 Answer</a>
    	<br>

    	<a href="file:///C:/Users/Rinku/Downloads/SBI%20PO%20Memory%20based%20Preliminary%20Exam%20Paper%202015.pdf" target="_blank">Paper 5 Questions</a>
    	<br>

    	<a href="file:///C:/Users/Rinku/Downloads/SBI%20PO%20Memory%20based%20Preliminary%20Exam%20Paper%202015%20solutions.pdf" target="_blank">Paper 5 Answer</a>
    	<br>

    </div>
    </div>


    <div class="container d-flex justify-content-center mt-4">

    	<div style="background-color:seagreen;">
    		<h3 style="color: white;">
    		Mains Exam Details
    		</h3>
    	</div>
    </div>


    <div class="d-flex justify-content-center mt-3 container">
    	<img style="pointer-events: none;" class="img-fluid" src="static/images/Screenshot (1025).png" height="200px" width="800px" >
    </div>

  </div>



<!------------IBPS------------------>
    
    <div style="background-color:#d8c4fd">
      
    
     <div class="d-flex justify-content-center mt-5" style="background-color:#9a67f9;">
      <h2 style="color:white">IBPS CLERK EXAM</h2>

     </div>

     <div class="d-flex justify-content-center">
       <h3>EXAM PATTERN FOR PRELIMS</h3>

     </div>

      <div class="d-flex justify-content-center mt-3 container">
      <img style="pointer-events: none;" class="img-fluid" src="static/images/prelim.png" height="200px" width="800px" >
    </div>


    <div class="d-flex justify-content-center mt-3">
       <h3>EXAM PATTERN FOR MAINS</h3>

     </div>

    <div class="d-flex justify-content-center mt-3 container">
      <img style="pointer-events: none;" class="img-fluid" src="static/images/mains.png" height="200px" width="800px" >
    </div>


    <h3 class="d-flex justify-content-center mt-4" style="background-color:#9a67f9; color: white;">
      Syllabus for Prelims & Mains
    </h3>

    <h4 class="d-flex justify-content-center mt-4">
      IBPS Clerk Syllabus: English Language
    </h4>


    <div class="d-flex justify-content-center mt-3 container">
      <img style="pointer-events: none;" class="img-fluid" src="static/images/english.png" height="200px" width="800px" >
    </div>


    <h4 class="d-flex justify-content-center mt-4">
      IBPS Clerk Syllabus: Quantitative Aptitude
    </h4>


    <div class="d-flex justify-content-center mt-3 container">
      <img style="pointer-events: none;" class="img-fluid" src="static/images/quant.png" height="200px" width="800px" >
    </div>


    <h4 class="d-flex justify-content-center mt-4">
      IBPS Clerk Syllabus: Reasoning
    </h4>

    <div class="d-flex justify-content-center mt-3 container">
      <img style="pointer-events: none;" class="img-fluid" src="static/images/reasoning.png" height="200px" width="800px" >
    </div>


    <h4 class="d-flex justify-content-center mt-4">
      IBPS Clerk Syllabus: Computer Knowledge
    </h4>

    <div class="d-flex justify-content-center mt-3 container">
      <img style="pointer-events: none;" class="img-fluid" src="static/images/computer.png" height="200px" width="800px" >
    </div>



    <h4 class="d-flex justify-content-center mt-4">
      IBPS Clerk Syllabus: General Awareness
    </h4>

    <div class="d-flex justify-content-center mt-3 container">
      <img style="pointer-events: none;" class="img-fluid" src="static/images/general.png" height="200px" width="800px" >
    </div>


    <div class="d-flex justify-content-center mt-5" style="background-color:#9a67f9; color: white;">
      <h3 >
      Prelims & Mains Topic Wise Weightage
    </h3>
  </div>

  <h4 class="d-flex justify-content-center mt-4">Weightage for English Language</h4>

  <div class="d-flex justify-content-center mt-3 container">
      <img style="pointer-events: none;" class="img-fluid" src="static/images/1.png" height="200px" width="800px" >
  </div>


  <h4 class="d-flex justify-content-center mt-4">Weightage for Quantitative Aptitude</h4>

  <div class="d-flex justify-content-center mt-3 container">
      <img style="pointer-events: none;" class="img-fluid" src="static/images/2.png" height="200px" width="800px" >
  </div>


  <h4 class="d-flex justify-content-center mt-4">Weightage for Reasoning Ability</h4>

  <div class="d-flex justify-content-center mt-3 container">
      <img style="pointer-events: none;" class="img-fluid" src="static/images/3.png" height="200px" width="800px" >
  </div>


  <h4 class="d-flex justify-content-center mt-4">Weightage for Computer Aptitude</h4>

  <div class="d-flex justify-content-center mt-3 container">
      <img style="pointer-events: none;" class="img-fluid" src="static/images/4.png" height="200px" width="800px" >
  </div>




    

     <div class="container">
       
     
     <h3 class="d-flex justify-content-center mt-5" style="background-color:#4b1aff; color:white">Previous Year Question Papers</h3>
      <h5>Links- </h5>


      <div class="box" style="text-align: center;">
      <a href="https://wpassets.adda247.com/wp-content/uploads/multisite/2020/12/06052358/Formatted-IBPS-Clerk-Prelims-2020-Memory-Based-Mock-Paper-Based-on-5th-December-Questions--1.pdf" target="_blank">Paper 1 Questions (2020)</a>
      <br>
      <a href="https://wpassets.adda247.com/wp-content/uploads/multisite/2020/12/06041218/Formatted-IBPS-Clerk-Prelims-2020-Memory-Based-Mock-Paper-Based-on-5th-December-Solutions-.pdf" target="_blank">Paper 1 Answer (2020)</a>
      <br>

      <a href="https://www.adda247.com/jobs/wp-content/uploads/2021/05/24110246/IBPS_Clerk_Prelims_2019_Memory_Based_Paper_For_Practice.pdf" target="_blank">Paper 2 Questions & Answers (2019)</a>
      <br>

      <a href="https://www.adda247.com/jobs/wp-content/uploads/2021/05/24100321/MOCK-BASED-ON-PATTERN-2015-CLERK-PRELIMS.pdf" target="_blank">Paper 3 Questions (2015)</a>
      <br>

      <a href="https://www.adda247.com/jobs/wp-content/uploads/2021/05/24100325/PRACTICE-MOCK-SOLUTION.pdf" target="_blank">Paper 3 Answer (2015)</a>

      <br>

      <a href="https://www.adda247.com/jobs/wp-content/uploads/2021/05/24105353/ibps_cler_pre_memory_based_reasoning_eng.pdf" target="_blank">Paper 4 Questions (Reasoning Ability) (2018)</a>
      <br>

      <a href="https://www.adda247.com/jobs/wp-content/uploads/2021/05/24105400/IBPS_Clerk_Prelims_8th_Dec_Memory_Based_PDF_Solutions-1.pdf" target="_blank">Paper 4 Answer (Reasoning Ability) (2018)</a>
      <br>

      <a href="https://www.adda247.com/jobs/wp-content/uploads/2021/05/24105428/IBPS_Clerk_Prelims_Memory_Based_Quant.pdf" target="_blank">Paper 4 Questions (Quantitative Aptitude) (2018)</a>
      <br>

      <a href="https://www.adda247.com/jobs/wp-content/uploads/2021/05/24105400/IBPS_Clerk_Prelims_8th_Dec_Memory_Based_PDF_Solutions-1.pdf" target="_blank">Paper 4 Answer (Quantitative Aptitude) (2018)</a>
      <br>


      <a href="https://www.adda247.com/jobs/wp-content/uploads/2021/05/24105418/IBPS_Clerk_Prelims_Memory_Based_English_Questions.pdf" target="_blank">Paper 4 Questions (English Language) (2018)</a>
      <br>

      <a href="https://www.adda247.com/jobs/wp-content/uploads/2021/05/24105423/IBPS_Clerk_Prelims_Memory_Based_English_Solutions.pdf" target="_blank">Paper 4 Answer (English Language) (2018)</a>
      <br>


      <a href="https://www.adda247.com/jobs/wp-content/uploads/2021/05/24103519/IBPS_Clerk_Prelims_2017_Memory_Based_Reasoning_Ability_Questions.pdf" target="_blank">Paper 5 Questions (Reasoning Ability) (2017)</a>
      <br>

      <a href="https://www.adda247.com/jobs/wp-content/uploads/2021/05/24103522/IBPS_Clerk_Prelims_2017_Memory_Based_Reasoning_Ability_Solutions.pdf" target="_blank">Paper 5 Answer (Reasoning Ability) (2017)</a>
      <br>


      <a href="https://www.adda247.com/jobs/wp-content/uploads/2021/05/24103453/IBPS_Clerk_Prelims_2017_Memory_Based_Quantitative_Aptitude_Questions.pdf" target="_blank">Paper 5 Questions (Quantitative Aptitude) (2017)</a>
      <br>

      <a href="https://www.adda247.com/jobs/wp-content/uploads/2021/05/24103504/IBPS_Clerk_Prelims_2017_Memory_Based_Quantitative_Aptitude_Solutions.pdf" target="_blank">Paper 5 Answer (Quantitative Aptitude) (2017)</a>
      <br>


      <a href="https://www.adda247.com/jobs/wp-content/uploads/2021/05/24103439/IBPS_Clerk_Prelims_2017_Memory_Based_English_Language_Questions.pdf" target="_blank">Paper 5 Questions (English Language) (2017)</a>
      <br>

      <a href="https://www.adda247.com/jobs/wp-content/uploads/2021/05/24103441/IBPS_Clerk_Prelims_2017_Memory_Based_English_Language_Solutions.pdf" target="_blank">Paper 5 Answer (English Language) (2017)</a>
      <br>

    </div>
    </div> 
  </div>
    



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    
  </body>
</html>